.dark {
    background: rgb(var(--text-color));
    color: rgb(var(--foreground));
    margin-bottom: 0;
}

.light {
    background: rgb(var(--foreground));
    margin-bottom: 0;
}

.grid li h3 {
    margin-bottom: 0.5rem;
}

.grid li p {
    opacity: 0.85;
}

.grid li {
    display: flex;
    flex-direction: column;
}

.centered {
    align-items: center;
    text-align: center;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.button {
    width: fit-content;
    margin: 0 auto;
    margin-top: 4rem;
}

.button a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}