.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 800px;
    margin: auto;
}

.textArea {
    height: auto;
    padding: 1rem;
}

.card small {
    opacity: 0.65;
    text-align: center;
}

.active {
    width: 4rem;

}

.proflie {
    border-radius: 8rem;
    width: 64px;
    height: 64px;
}

.me {
    align-items: center;
    gap: 1rem;
    font-size: .9rem;
    display: flex;
}

.active {
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    right: 0.1rem;
    bottom: 0.5rem;
    width: 0.65rem;
    height: 0.65rem;
    background: rgb(var(--success-color));
    border: 2px solid rgb(var(--foreground));
    border-radius: 4rem;
}

.activeText {
    flex-direction: column;
    gap: .5rem;
    display: flex;
}

.iconWithText {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.iconWithText svg {
    width: 1rem;
}

.jobTitle {
    opacity: 0.85;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.btnSubmited {
    background: rgb(var(--success-color));
}

.errorTxt {
    border: 2px solid rgba(var(--error-color), 0.3);
    background: rgba(var(--error-color), 0.2);
    color: rgba(var(--error-color), 1);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9em;
}

.checkIcon {
    width: 1.5rem;
    height: 1.5rem;
}