.grid {
    align-items: center;
}

.grid img {
    border-radius: var(--border-radius);
    aspect-ratio: 1 / 1;
    max-width: 100%;
    max-height: 600px;
    justify-self: center;
}

.text {
    color: rgba(var(--text-color), 0.75);
}

.boldText {
    color: rgba(var(--text-color), 1);
    font-weight: bold;
}

.highlightedText {
    background: rgba(255, 215, 0, 0.4);
}

.socials {
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.socialIcon {
    display: flex;
    background-color: rgba(var(--text-color), 1);
    padding: 0.75rem;
    border-radius: 50px;
}

.socialIcon svg {
    width: 1.25rem;
    height: 1.25rem;
    color: rgba(var(--foreground), 1);
}

.aboutMe {
    margin-top: -0.8rem;
    line-height: 250%;
    font-size: 1.2em;
}

.stat {
    margin-top: 2rem;
    border-top: 1px solid rgba(var(--text-color), 0.25);
    padding: 2rem;
    text-align: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.stat h3 {
    font-weight: normal;
}

.badgeIcon {
    color: rgb(var(--primary-accent));
    border-radius: 32px;
    width: 2rem;
    height: 2rem;
}

.highlightedText {
    background: rgba(255, 215, 0, 0.4);
    font-weight: bold;
}

.mobileStats {
    display: none;
}

@media (max-width: 1024px) {
    .desktopStats {
        display: none;
    }

    .mobileStats {
        display: block;
    }
}